<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>UniModMaker</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='assets/demo.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/form-basic.css') }}">

	<script type="text/javascript" src="{{url_for('static', filename='jquery-2.2.3.js') }}"></script>
	<script type="text/javascript">
	function validate() {
		var to_return = true;
		$('#form *').filter(':input').each(function(){
			if ($(this).attr('name') == 'download') { return true; }
			if ($(this).attr('name') == 'check' && !$('input[name="cancheck"]').prop('checked')) { return true; }
			if (!$(this).val()) {
				//alert($(this).attr('name') + " can't be empty");
				$(this).css('border', '1px solid red');
				$('html, body').animate({
					scrollTop: $(this).offset().top - 50
				}, 500);
				to_return = false;
				return to_return;
			}
			$(this).css('border', '1px solid #dbdbdb');
		});
		return to_return;
	}

	$(document).ready(function() {
		$('input[name="cancheck"]').click(function(e) {
			$('#optional').toggle();
		})
	})
	</script>

</head>


	<header>
		<h1>UniModMaker</h1>
        <a href="http://github.com/jamesalbert/UniModMaker", target="_blank">Github</a>
    </header>

		<!--
    <ul>
        <li><a href="index.html" class="active">Basic</a></li>
        <li><a href="form-register.html">Register</a></li>
        <li><a href="form-login.html">Login</a></li>
        <li><a href="form-mini.html">Mini</a></li>
        <li><a href="form-labels-on-top.html">Labels on Top</a></li>
        <li><a href="form-validation.html">Validation</a></li>
        <li><a href="form-search.html">Search</a></li>
    </ul>
		-->

		<br>


    <div class="main-content">

        <!-- You only need this form and the form-basic.css -->

        <form id="form" class="form-basic" method="post" onsubmit="return validate()">

            <div class="form-title-row">
                <h1>Your New Mod</h1><br>
								<small>hint: hover over a text field for more info</small><br>
								<small>note: use commas ONLY when separating comments</small>
            </div>


            <div class="form-row" title="the name of your new mod">
                <label>
                    <span>Mod Name</span>
                    <input type="text" name="modname" placeholder="MyNewMod">
                </label>
            </div>

            <div class="form-row" title="text that shows when you first start the battle">
                <label>
                    <span>Dialog When Battle Starts</span>
                    <input type="text" name="encountertext" placeholder="This monster blocks your path">
                </label>
            </div>

            <div class="form-row" title="the attack the enemy will perform next">
                <label>
                    <span>Enemy's Next Attack</span>
                    <input type="text" name="nextwaves" placeholder="kick">
                </label>
            </div>

						<div class="form-row" title="how long an attack will last">
                <label>
                    <span>Enemy Wave Timer</span>
                    <input type="text" name="wavetimer" placeholder="4.0">
                </label>
            </div>

						<div class="form-row" title="the size of the box where attacks happen">
                <label>
                    <span>Arena Size</span>
                    <input type="text" name="arenasize" placeholder="155, 130">
                </label>
            </div>

						<!--
						<div class="form-row" title="the enemy for battle">
                <label>
                    <span>Enemies</span>
                    <input type="text" name="enemies" placeholder="monster">
                </label>
            </div>
						-->

						<div class="form-row" title="the coordinates of the enemy on screen">
                <label>
                    <span>Enemy Positions</span>
                    <input type="text" name="enemypositions" placeholder="100, 0">
                </label>
            </div>

						<div class="form-row" title="the name of the enemy's attacks">
                <label>
                    <span>Enemy's Possible Attacks</span>
                    <input type="text" name="possible_attacks" placeholder="kick, hit, headbutt">
                </label>
            </div>

						<div class="form-row" title="some comments the enemy will say">
                <label>
                    <span>Enemy's Comments</span>
                    <input type="text" name="comments" placeholder="you're so weak, oh no..., you'll regret that">
                </label>
            </div>

						<div class="form-row" title="some commands to ask of your enemy">
                <label>
                    <span>Enemy's Commands</span>
                    <input type="text" name="commands" placeholder="sit, heal, lay">
                </label>
            </div>

						<div class="form-row" title="random things the enemy will say">
                <label>
                    <span>Enemy's Random Dialog</span>
                    <input type="text" name="randomdialogue" placeholder="that hurt, that was weak, you're silly">
                </label>
            </div>

						<div class="form-row" title="the name of the enemy">
                <label>
                    <span>Enemy Name</span>
                    <input type="text" name="name" placeholder="Doge">
                </label>
            </div>

						<div class="form-row" title="how much health the enemy will start with">
                <label>
                    <span>Enemy's HP</span>
                    <input type="text" name="hp" placeholder="100">
                </label>
            </div>

						<div class="form-row" title="the power of the enemy's attacks">
                <label>
                    <span>Enemy Attack Power</span>
                    <input type="text" name="atk" placeholder="3">
                </label>
            </div>

						<div class="form-row" title="the strength of the enemy">
                <label>
                    <span>Enemy Defense Power</span>
                    <input type="text" name="defense" placeholder="4">
                </label>
            </div>

						<div class="form-row" title="pick the enemy you wish to battle">
                <label>
                    <span>Enemy Sprite</span>
                    <select name="sprite">
                        <option>poseur</option>
                        <option>AriDog</option>
                        <option>BernieSanders</option>
                        <option>stikbot</option>
                    </select>
                </label>
            </div>

						<div class="form-row" title="name of the projectile the enemy will attack you with">
                <label>
                    <span>Projectile</span>
                    <select name="projectile">
                        <option>dogeface</option>
                    </select>
                </label>
            </div>

						<div class="form-row" title="which side the dialog bubble will be on (left or right)">
                <label>
                    <span>Enemy Dialog Placement</span>
                    <select name="dialogbubble">
                        <option>right</option>
                        <option>left</option>
                    </select>
                </label>
            </div>

            <div class="form-row" title="enable sparing the enemy">
                <label>
                    <span>Can you spare the enemy?</span>
                    <input type="checkbox" name="canspare" checked>
                </label>
            </div>

						<div class="form-row" title="enable checking the enemy">
                <label>
                    <span>Can you check the enemy?</span>
                    <input type="checkbox" name="cancheck" checked>
                </label>
            </div>


						<div id="optional" class="form-row" title="what the enemy will say when you check it">
                <label>
                    <span>Enemy's Check Dialog</span>
                    <input type="text" name="check" placeholder="check yourself">
                </label>
            </div>

					<!--
            <div class="form-row">
                <label>
                    <span>Dropdown</span>
                    <select name="dropdown">
                        <option>Option One</option>
                        <option>Option Two</option>
                        <option>Option Three</option>
                        <option>Option Four</option>
                    </select>
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Textarea</span>
                    <textarea name="textarea"></textarea>
                </label>
            </div>

            <div class="form-row">
                <label><span>Radio</span></label>
                <div class="form-radio-buttons">

                    <div>
                        <label>
                            <input type="radio" name="radio">
                            <span>Radio option 1</span>
                        </label>
                    </div>

                    <div>
                        <label>
                            <input type="radio" name="radio">
                            <span>Radio option 2</span>
                        </label>
                    </div>

                    <div>
                        <label>
                            <input type="radio" name="radio">
                            <span>Radio option 3</span>
                        </label>
                    </div>

                </div>
            </div>

					-->
            <div class="form-row">
                <button name="download" type="submit">Download</button>
            </div>

        </form>

    </div>

</body>

</html>
